* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    outline: none;
    font-family: robotoregular;
}

ol,
ul {
    list-style: none;
}

li {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: "";
    content: none;
}

del {
    text-decoration: line-through;
}

header,
section,
article,
aside,
nav,
footer,
address {
    display: block;
}

html {
    overflow-x: hidden;
}

body {
    font-family: robotoregular, "open_sansregular", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 44px;
    font-family: "robotobold";
    color: #363636;
}

h2 {
    font-size: 39px;
    font-family: "robotobold";
    color: #363636;
}

h3 {
    font-size: 39px;
    font-family: "robotobold";
    color: #363636;
}

h4 {
    font-size: 26px;
    font-family: "robotobold";
    color: #363636;
}

h5 {
    font-size: 22px;
    font-family: "robotoregular";
    color: #363636;
}

h6 {
    font-size: 19px;
    font-family: "robotoregular";
    color: #363636;
}

p {
    font-size: 20px;
    font-family: "robotoregular";
    color: #363636;
    line-height: 2em;
}

a {
    color: #363636;
    font-family: "robotoregular";
    font-size: 22px;
}

a.button {
    color: #fff;
    background-color: #3f3d56;
    padding: 15px 35px;
    border-radius: 40px;
    font-weight: 500;
    display: inline-block;
    font-family: "robotoregular";
    font-size: 18px;
}

.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

a:hover,
[type="submit"]:hover {
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.social {
    display: flex;
    align-items: center;


    li {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;

            img {
                width: 100%;
                display: inline-block;
            }
        }
    }
}

@font-face {
    font-family: "robotoregular";
    src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"),
        url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotomedium";
    src: url("../fonts/roboto/roboto-medium-webfont.woff2") format("woff2"),
        url("../fonts/roboto/roboto-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotobold";
    src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"),
        url("../fonts/roboto/roboto-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

#main {
    position: relative;

    img.background {
        position: absolute;
        top: -377px;
        right: -391px;
        width: 70%;
        z-index: -1;
    }

    header {
        section.wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 200px;
        }

        h1.left {
            width: 6%;

            a {
                display: block;

                img {
                    display: block;
                    width: 100%;
                }
            }
        }

        nav.right {

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    margin-right: 40px;

                    &:last-child {
                       margin-right: 0;
                    }
                }

                a {
                    display: inline-block;
                    font-size: 18px;
                }
            }
        }
    }

    section.spotlight div.content {
        width: 30%;

        h1 {
            margin-bottom: 50px;
        }

        p {
            margin-bottom: 50px;
            font-size: 20px;
        }

        a.button {
            margin-bottom: 100px;
        }

        
    }
}

#skills {
    margin:200px 0 150px;

    div.top h2 {
        text-align: center;
        margin-bottom: 100px;
        font-size: 40px;
    }

    div.bottom {
        div.items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 100px;

            div.left {
                width: 43%;
    
                img {
                    display: block;
                    width: 100%;
                }
            }
    
            div.right {
                width: 45%;
    
                h4 {
                    margin-bottom: 30px;
                }
    
                p {
                    font-size: 18px;
                }
            }

            &:nth-child(2){
                flex-direction: row-reverse;
            }
        }
    }
}

#works {
    position: relative;

    div.top h2 {
        text-align: center;
        margin-bottom: 150px;
    }

    div.middle ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            width: 47%;
            margin-bottom: 70px;

            &:nth-child(2) {
                margin-top: -70px;
                margin-bottom: 0;
            }

            &:nth-child(4) {
                margin-bottom: 0;
                margin-top: -70px;
            }

            img {
                display: block;
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    div.bottom {
        text-align: center;
        margin-bottom: 100px;

        a.button {
            border-radius: 20px;
        }
    }
}

#project {
    margin-top: 300px;
    position: relative;
    padding-bottom: 150px;

    div.content {
        width: 40%;

        h2 {
            margin-bottom: 50px;
        }

        a.button {
            margin-bottom: 100px;
            border-radius: 20px;
        }

    }

    img.background {
        position: absolute;
        top: -580px;
        right: -524px;
        width: 80%;
    }
}

@media all and (max-width: 1280px) {
    #main {
        img.background {
            top: -58px;
            right: -168px;
        }

        header h1.left {
            width: 8%;
        }

        section.spotlight div.content {
            width: 32%;
        }


    }
    #project img.background{
        width: 100%;
    }
}

@media all and (max-width: 1024px) {
    #project img.background {
        top: -424px;
        right: -482px;
    }

    #project div.content {
        width: 50%;
    }
}

@media all and (max-width: 980px) {
    #main {
        img.background {
            top: 34px;
            right: -111px;
        }

        section.spotlight div.content {
            width: 40%;
        }
    }

    #skills {
        margin: 94px 0 100px;

        div.bottom{

            div.items{
                flex-direction: column;

                &:nth-child(2){
                    flex-direction: column;
                }

                div.left{
                    width: 100%;
                    height: 360px;

                    img{
                        height: 100%;
                    }
                }

                div.right{
                    width: 100%;
                }
            }
        }
    }

    #project {
        img.background {
            top: -346px;
            right: -393px;
        }

        div.content {
            width: 53%;
        }
    }
}

@media all and (max-width: 768px) {
    

    #main {
        img.background{
            display: none;
        }

        header{
            section.wrapper {
                h1.left {
                    width: 12%;
                }
    
                nav.right {
                    ul li {
                        &:first-child {
                            display: none;
                        }
    
                        &:nth-child(2) {
                            display: none;
                        }
    
                        &:nth-child(3) {
                            display: none;
                        }
                    }
                }

                a.button {
                    display: block;
                }
            }

            
        
        }
        section.spotlight{
            div.content{
                width: 100%;

                a.button{
                    width: 19%;
                    margin-bottom: 75px;
                }
            }
        }
    }


    #works{

        div.middle ul li {
            width: 100%;
            &:nth-child(2) {
                margin-top: 0;
                margin-bottom: 70px;
            }

            &:nth-child(4) {
                margin-top: 0;
                margin-bottom: 70px;
            }
        }  
    }

    #project {
        margin-top: 100px;
        padding-bottom: 50px;
        img.background{
            display: none;
        }
        div.content {
            width: 100%;
        }
    }
}

@media all and (max-width: 480px) {
    #main header{
        height: 165px;
    }
    #main header section.wrapper h1.left {
        margin: 0 auto 12px;
        width: 22%;
    }

    #main header nav.right ul li a.button{
        display: none;
    }
    h2 {
        font-size: 34px;
    }

    h4 {
        font-size: 22px;
    }


    #main section.spotlight {
        div.content {
            h1 {
                text-align: center;
                margin-bottom: 36px;
            }

            p {
                margin-bottom: 24px;
            }

            a.button {
                width: 26%;
                margin:0 auto 50px;
            }

            
        }
    }

    #skills {

        div.top h2 {
            margin-bottom: 36px;
        }
    }

    #works {
        div.top h2 {
            margin-bottom: 36px;
        }

        div.bottom {
            margin-bottom: 50px;
        }
    }

    #project {
        div.content a.button {
            font-size: 16px;
            margin-bottom: 50px;
        }
    }
}

@media all and (max-width: 360px) {
    #main section.spotlight div.content h1 {
        font-size: 36px;
    }
    #main section.spotlight div.content p{
        font-size: 16px;
    }
    #main section.spotlight div.content a.button{
        font-size: 16px;
        width: 28%;
    }

    #skills {
        margin: 50px 0;
        div.top h2 {
            font-size: 36px;
            margin-bottom: 24px;
        }

    }


    #project {
        margin-top: 24px;
        div.content {
            h2 {
                font-size: 25px;
                margin-bottom: 24px;
            }

            a.button {
                font-size: 14px;
                width: 45%;
                margin-bottom: 24px;
            }

        }
    }
}